!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      body {
        margin: 0;
        font-family: Geneva;
      }
      
      .banner {
        overflow: hidden;
        background-color: #FFFFFF;
        height: 50px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #500000;
      }
      
      .topnav b {
        float: left;
        width: 23.25%;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav b:hover {
        background-color: #8a0000;
        color: white;
      }
      
      .topnav b.active {
        background-color: #8a0000;
        color: white;
      }
  %body
    .banner{:style => "padding-left:15px; padding-top:10px;"}
      %h{:href => "#index", :style => "color:#500000; font-size: 30px;"} CSE GRAD NETWORKING SITE
    .topnav
      %b=link_to "Home", grads_index_url(password: @pw, email: @em), style: 'color:#FFFFFF; text-decoration:none;'
      %b=link_to "Search", grads_search_url(password: @pw, email: @em), style: 'color:#FFFFFF;text-decoration:none;'
      %b=link_to "Messages", students_message_url(password: @pw, email: @em), style: 'color:#FFFFFF;text-decoration:none;'
      %b=link_to "Profile", students_profile_url(password: @pw, email: @em), style: 'color:#FFFFFF;text-decoration:none;'

    %h3{:style => "padding-left: 50px; padding-top: 30px"} User: #{@introMsg}
    .search.box{:style => "padding-left:50px; padding-top:50px"}  
      %form
        =label :student, :first_name, "First Name"
        =text_field :student, :first_name
        %br/
        %br/
        =label :student, :last_name, "Last Name"
        =text_field :student, :last_name
        %br/
        %br/
        =label :student, :advisor, "Advisor"
        =text_field :student, :advisor
        %br/
        %br/
        =label :student, :class_year, "Class Year"
        =select :student, :class_year, ((Time.zone.now.year - 30)..(Time.zone.now.year + 10)).to_a.map(&:to_s), { include_blank: '' }
        %br/
        %br/
        %input{:type => "submit", :value => "Search"}
        