%table#message.table
  %thead
    %tr
      %th Sender
      %th Content
  %tbody
    - @messages.each do |message|
      %tr
        %td= message.student.firstName + " " + message.student.lastName
        %td= message.content