%h2 Profile Test Page
%h2= link_to "Go to Home", grads_index_url

%row
    %column
        %h3 Jack Black
        %img= image_tag "JackElmo.png"
        %h3 TestAdvisor
        %h3= link_to "Send a Message", students_message_url
    %Column
        %p This is where the user will input more information.  We intend to give them a textbox that will allow them to add whatever they would like to and format it how they would like to.